
ul {
    list-style: none;
}

.explication {
}

.titre-explication {
    text-align: center;
    width: 100%;
    color: rgb(0, 0, 0);
    font-size: 40px;
    text-transform: uppercase;
    z-index: 2;
}
.sous-titre-explication {
    text-align: center;
    width: 100%;
    margin-top: -2%;
    font-weight: bold;
    color: rgb(0, 0, 0);
    font-size: 25px;
    z-index: 2;
}
.message-explication {
    text-align: center;
    width: 100%;
    color: rgb(0, 0, 0);
    font-size: 15px;
    z-index: 2;
}
.message2-explication {
    display: none;  
    text-align: center;
    width: 100%;
    color: rgb(255, 255, 255);
    font-size: 15px;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.carrousel {
}
.twingo {
    z-index: 0;
    display: none;
}

.vehicule img {
    width: 95%;
}

@media screen and (max-width : 800px) {
    .carrousel{
    }
    .message-explication{
    }
    .titre-explication {
        font-size: 25px;
    }

    .twingo{
        display: none;

    }
    .sous-titre-explication{
        font-size: 20px;
    }
    .message2-explication {
    }   
}

